In [76]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import numpy as np
from pathlib import Path

# Read data

In [77]:
# Read dictionary with municipalities
# Com a pathlib nao precisamos ficar modificando o path dos arquivos, basta deixar todos no mesmo diretorio do notebook
df_muni = pd.read_csv('DTB_BRASIL_MUNICIPIO.csv',sep = ';')

In [9]:
df_muni = df_muni[['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município']]

In [10]:
df_muni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   UF                         5570 non-null   int64
 1   Nome_UF                    5570 non-null   object
 2   Mesorregião Geográfica     5570 non-null   int64
 3   Nome_Mesorregião           5570 non-null   object
 4   Microrregião Geográfica    5570 non-null   int64
 5   Nome_Microrregião          5570 non-null   object
 6   Município                  5570 non-null   int64
 7   Código Município Completo  5570 non-null   int64
 8   Nome_Município             5570 non-null   object
dtypes: int64(5), object(4)
memory usage: 391.8+ KB

In [75]:
# Read the Adjacent matrix
link0 = 'adjacency_matrix_correct.parquet'
df_matrix = pd.read_parquet(link0, engine='pyarrow')
df_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 1100015 to 5300108
Columns: 5570 entries, 1100015 to 5300108
dtypes: float64(5570)
memory usage: 236.7 MB

In [12]:
desc_matrx = df_matrix.describe()
desc_matrx

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
count,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,...,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000
mean,0.039138,0.788779,0.003591,0.651920,0.061041,0.058887,0.004309,0.091203,0.024596,0.039048,...,0.867325,0.085458,0.120826,0.159246,0.007540,0.142011,0.020108,0.020826,0.032675,3.467629
std,1.195661,10.979868,0.267980,8.014266,1.450769,1.446396,0.321576,2.204065,1.032914,1.982449,...,9.489227,1.911365,2.610244,2.479427,0.419425,3.114233,0.592911,0.713312,1.234860,25.525611
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,56.000000,348.500000,20.000000,210.750000,56.000000,56.000000,24.000000,75.000000,58.000000,126.000000,...,284.000000,56.000000,84.000000,78.000000,28.000000,112.000000,28.000000,36.000000,80.000000,1163.354167

In [13]:
df_matrix = df_matrix.astype('uint16')
df_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 1100015 to 5300108
Columns: 5570 entries, 1100015 to 5300108
dtypes: uint16(5570)
memory usage: 59.2 MB

In [14]:
df_np = df_matrix.to_numpy()
df_np

array([[ 0,  7,  0, ...,  0,  0,  0],
       [ 7,  0,  0, ...,  0,  0,  8],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0, 28],
       [ 0,  8,  0, ...,  0, 28,  0]], dtype=uint16)

In [78]:
df_hubs = pd.read_csv('lists_of_hubs.csv')
df_hubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5570 non-null   int64
 1   Nome_UF           5570 non-null   object
 2   co_ibge           5570 non-null   int64
 3   Nome_Município    5570 non-null   object
 4   hub_ind_proxi     5570 non-null   float64
 5   hub_ind_intermed  5570 non-null   float64
 6   hub_inter         5570 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 304.7+ KB

# Functions

In [16]:
link_muni_vertice = pd.DataFrame(df_matrix.columns, columns=['muni'])

In [17]:
def get_mname(n):
    
    m = link_muni_vertice.iloc[n]['muni']
    set_muni = df_muni[df_muni['Código Município Completo'] == m].reset_index()
    return [set_muni.iloc[0]['Nome_Município'],set_muni.iloc[0]['Nome_UF'],m]

def get_mnumber(name,uf):
    
    set_df = df_muni[(df_muni['Nome_Município'] == name) & (df_muni['Nome_UF'] == uf)].reset_index()
    
    co_mu = set_df['Código Município Completo'][0]
    
    muni_number = link_muni_vertice[link_muni_vertice['muni'] == co_mu]['muni'].index.tolist()[0]
    
    return [muni_number, co_mu]

In [18]:
def get_mnumber_of_set(df_col):
    muni_number = []

    for i in range(0,len(df_col)):
    
        uf = df_col['Nome_UF'].iloc[i]
    
        city = df_col['Nome_Município'].iloc[i]
    
        muni_number.append(get_mnumber(city,uf)[0])
    
    return muni_number

In [85]:
# Python program for implementation
# of Ford Fulkerson algorithm
from collections import defaultdict

# This class represents a directed graph
# using adjacency matrix representation
        
class Graph:

    def __init__(self, graph: np.ndarray):
        self.graph = graph # residual graph
        self. ROW = len(graph)
        # self.COL = len(gr[0])


    '''Returns true if there is a path from source 's' to sink 't' in
    residual graph. Also fills parent[] to store the path '''


    def BFS(self, s, t, parent):
        visited = [False] * self.ROW
        queue = []
        queue.append(s)
        visited[s] = True

        while queue:
            u = queue.pop(0)
            for ind, val in enumerate(self.graph[u]):
                if visited[ind] == False and val > 0:
                    queue.append(ind)
                    visited[ind] = True
                    parent[ind] = u
                    if ind == t:
                        return True
        return False

    def FordFulkerson(self, source, sink):
        parent = [-1] * self.ROW
        max_flow = 0
        paths = []  # List to store the paths
        value_path = []

        while self.BFS(source, sink, parent):
            path_flow = float("inf")
            s = sink
            while s != source:
                path_flow = min(path_flow, self.graph[parent[s]][s])
                s = parent[s]

            max_flow += path_flow

            # Store the current path
            current_path = []
            v = sink
            while v != source:
                u = parent[v]
                current_path.append((u, v))
                self.graph[u][v] -= path_flow
                self.graph[v][u] += path_flow
                v = parent[v]
            paths.append(current_path)
            value_path.append(max_flow)
            
            if len(current_path) > 3:
                break

        return max_flow, pd.DataFrame(paths).transpose(), value_path

In [20]:
def create_output_dataframe(value_path, df_paths, orig_mname, dest_mname):
    list_paths = [df_paths[col_index].to_list() for col_index in range(0, df_paths.shape[1]) ]
    df = (pd.DataFrame(value_path, columns=['value_cum'])
          .assign(value=lambda x:x['value_cum'] - x['value_cum'].shift())
          .fillna(0)
          .assign(
              ori_muni_name= orig_mname[0],
              ori_uf_name= orig_mname[1],
              ori_co_ibge= orig_mname[2],
              des_muni_name= dest_mname[0],
              des_uf_name= dest_mname[1],
              des_co_ibge = dest_mname[2],
              paths = list_paths
          )
         )
    return df

# create_output_dataframe(value_path, df_paths, n,m)

In [21]:
def save_output(orig_mname, dest_mname, df_values):
    
    file_name_output = str(orig_mname[2]) + '_' + str(dest_mname[2]) + '_' + 'path_value'
    file_path_output = path_folder/f'{file_name_output}.parquet'
    
    pa_df = pa.Table.from_pandas(df_values)
    pq.write_table(pa_df, file_path_output)

In [22]:
# #alternativa
# def run_algo(df_np, tuple_orig_dest):
#     n, m = tuple_orig_dest
#     g = Graph(df_np.copy())
    
#     max_flow, df_paths, value_path = g.FordFulkerson(n, m)
#     if len(value_path)==0:
#         return
#     orig_mname = get_mname(n)
#     dest_mname = get_mname(m)
#     df_values = create_output_dataframe(value_path, df_paths, orig_mname, dest_mname)

#     save_output(orig_mname, dest_mname, df_values)
#     return None

# Define the list of municipalities as the origen and destination to run the FF method

## Destination

In [23]:
selec_hubs = df_hubs[df_hubs['hub_inter'] == 1]

In [24]:
selec_hubs.head()

,Unnamed: 0,Nome_UF,co_ibge,Nome_Município,hub_ind_proxi,hub_ind_intermed,hub_inter
1,1,Pará,1502954,Eldorado do Carajás,0.0,1.0,1.0
2,2,Tocantins,1702554,Augustinópolis,0.0,1.0,1.0
4,4,Maranhão,2108207,Pedreiras,0.0,1.0,1.0
7,7,Paraíba,2517001,Umbuzeiro,0.0,1.0,1.0
9,9,Bahia,2926301,Riachão do Jacuípe,1.0,1.0,1.0

In [25]:
%%time
selec_hubs = selec_hubs.assign(muni_number = get_mnumber_of_set(selec_hubs))

CPU times: user 6.65 s, sys: 84.3 ms, total: 6.73 s
Wall time: 8.81 s

In [26]:
#selec_hubs = selec_hubs[selec_hubs.Nome_UF == 'Acre']

## Origin

In [27]:
ac_muni = df_muni[df_muni.Nome_UF == 'Acre']

In [28]:
ac_muni = ac_muni.assign(muni_number = get_mnumber_of_set(ac_muni))

In [ ]:
ac_muni.head(10)

# Run method for the list of municipalities selected

In [30]:
df_muni['Nome_UF'].value_counts()

Minas Gerais           853
São Paulo              645
Rio Grande do Sul      497
Bahia                  417
Paraná                 399
Santa Catarina         295
Goiás                  246
Piauí                  224
Paraíba                223
Maranhão               217
Pernambuco             185
Ceará                  184
Rio Grande do Norte    167
Pará                   144
Mato Grosso            141
Tocantins              139
Alagoas                102
Rio de Janeiro          92
Mato Grosso do Sul      79
Espírito Santo          78
Sergipe                 75
Amazonas                62
Rondônia                52
Acre                    22
Amapá                   16
Roraima                 15
Distrito Federal         1
Name: Nome_UF, dtype: int64

## Definir Estado

In [86]:
UF = 'Acre'
# UF='Amazonas'
# UF='Rio de Janeiro'

In [87]:
selec_hubs = df_hubs[df_hubs['hub_inter'] == 1]
selec_hubs = selec_hubs.assign(muni_number = get_mnumber_of_set(selec_hubs))

#selec_hubs = selec_hubs[selec_hubs.Nome_UF == UF]

ac_muni = df_muni[df_muni.Nome_UF == UF]
ac_muni = ac_muni.assign(muni_number = get_mnumber_of_set(ac_muni))


lst1 = list(ac_muni['muni_number']) #[52,53,54,55,56,58,59,60,61,62,63,64,65,66,67,68,69,71,72,73]
lst2 = list(selec_hubs['muni_number'])#[57,67,70, 108,119,111,102,91]#list(range(1,5570,1))

print(len(lst1), ',', len(lst2), ',', len(lst1)*len(lst2))

path_folder = Path(f'FF_path_results_{UF}')
path_folder.mkdir(exist_ok=True)

22 , 3 , 66

In [33]:
df_matrix = pd.read_parquet(link0, engine='pyarrow')
df_np = df_matrix.to_numpy()

In [50]:
# Create a list of values to process
list_orig_dest = [(x, y) for x in lst1 for y in lst2]

In [88]:
# %%time
def process_value(value):
    n, m = value
    g = Graph(df_np.copy())
    
    max_flow, df_paths, value_path = g.FordFulkerson(n, m)

# para evitar a escrita de arquivos vazios, o que tbm reduz o tempo de execução
#     if len(value_path)==0:
#         return
#         print('vazio')

    orig_mname = get_mname(n)
    dest_mname = get_mname(m)
    df_values = create_output_dataframe(value_path, df_paths, orig_mname, dest_mname)

    save_output(orig_mname, dest_mname, df_values)
    # print(df_values.shape)
    # break

In [30]:
# debug
# print(n, m, df_paths, sep='\n')

In [94]:
# %%time
# # Create a ThreadPoolExecutor to run the processing function in parallel
# with concurrent.futures.ThreadPoolExecutor(max_workers=4) as executor:
#     executor.map(process_value, list_orig_dest)

CPU times: user 4min 11s, sys: 26.9 s, total: 4min 38s
Wall time: 3min 43s

In [92]:
# %%time
#melhor tempo
# Create a ProcessPoolExecutor to run the processing function in parallel
with concurrent.futures.ProcessPoolExecutor(max_workers=4) as executor:
    executor.map(process_value, list_orig_dest)

CPU times: user 55.3 ms, sys: 60.3 ms, total: 116 ms
Wall time: 2min

In [ ]:
# versão alternativa (função run_algo)
# %%time
# for tuple_orig_dest in list_orig_dest:
#     run_algo(df_np, tuple_orig_dest)